.realtors {
  grid-column: col-start 7 / span 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 3rem;
  background-color: $color-secondary;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    column-gap: 2rem;
    row-gap: 5vh;

    margin-top: 2rem;

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    display: block;
    border-radius: 50%;
    width: 7rem;
  }

  &__sold {
    margin-top: -3px;
    color: $color-grey-light-2;
    text-transform: uppercase;
  }
}